@{
    ViewBag.Title = "layout";
    if (Session["USERNAME"] == null)
    {
        Response.Redirect("~/Home/Login");
    }
    if(Session["MA_CONG_TY"].ToString() != "HOP_LONG")
    {
        Response.Redirect("~/Home/Index");
    }

}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>HOPLONG | Trang chủ</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.6 -->
    <link href="~/Content/download/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/self-writing/css/hoplong/nav_hoplong_multilevel.css" rel="stylesheet" />
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Theme style -->
    <link href="~/Content/download/dist/css/AdminLTE.min.css" rel="stylesheet" />
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->

    <link href="~/Content/download/bootstrap/css/layout_all.css" rel="stylesheet" />
    <link href="~/Content/self-writing/Layout-CSS.css" rel="stylesheet" />
    <link href="~/Content/self-writing/css/LayoutHL.css" rel="stylesheet" />

    <script src="~/Content/download/angularjs/angular.min.js"></script>
    <script src="~/Content/self-writing/js/app.js"></script>
    <script src="~/Content/self-writing/js/Service.js"></script>
    <script src="~/Content/self-writing/js/Controller.js"></script>
    <script src="~/Content/download/angularjs/dirPagination.js"></script>

</head>
<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        <header class="main-header">
            <!-- Logo -->
            <a href="/HopLong/HopLongHome/Index" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini" style="color: white"><img src="~/HopLong/Content/img/hl-logo.png" width="30" height="40" /></span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg" style="color: white;"><img src="" width="30" height="40" style="margin-right: 10px" />hoplongtech</span>
                
            </a>
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top" style="background: deepskyblue">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button" style="color: white;">
                    <span class="sr-only">Toggle navigation</span>
                </a>
                <!-- Menu bar-->
                <div class="navbar-custom-menu pull-left">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">System<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/Danhsachnghiepvu/Index">Danh sách nghiệp vụ</a></li>

                                <li><a href="/NghiepVuNguoiDung/Index">Chi tiết nghiệp vụ</a></li>
                                <li><a href="/GiamDocChiNhanhTAHL/Index">Leaders</a></li>

                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Folder <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/ImportExcel/Import_Hanghoa">Import from excel</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Catalogue <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li class="dropdown-submenu">
                                    <a href="#">Account</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="/TaiKhoanHachToanHL/Index">System Account</a></li>
                                        <li><a href="#">Tài khoản ngầm định</a></li>
                                        <li><a href="#">Tài khoản kết chuyển</a></li>
                                        <li><a href="#">Định khoản tự động</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown-submenu">
                                    <a href="#">Organizational Structure</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="/PhongBanHL/Index">Department</a></li>
                                        <li><a href="/NguoiDungHL/Index">User</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown-submenu">
                                    <a href="#">Object</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">Client</a></li>
                                        <li><a href="#">Supplier</a></li>
                                        <li><a href="#">Employee</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown-submenu">
                                    <a href="#">Inventory Item</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="/HangHoaHL/Index">Product</a></li>
                                        <li><a href="/Kho/Index">Inventory</a></li>
                                        <li><a href="/HangSpHL/Index">Brand</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>

                    </ul>
                </div><!-- /end menu bar -->



                <div class="navbar-custom-menu pull-right">
                    <ul class="nav navbar-nav ">
                        <!-- Messages: style can be found in dropdown.less-->
                        <li class="dropdown messages-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-envelope-o"></i>
                                <!--<span class="label label-success">4</span>-->
                            </a>

                        </li>
                        <!-- Notifications: style can be found in dropdown.less -->
                        <li class="dropdown notifications-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-bell-o"></i>
                                <!--<span class="label label-warning">10</span>-->
                            </a>

                        </li>
                        <!-- Tasks: style can be found in dropdown.less -->
                        <li class="dropdown tasks-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-flag-o"></i>
                                <!--<span class="label label-danger">9</span>-->
                            </a>

                        </li>
                        <!-- User Account: style can be found in dropdown.less -->
                        <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <img src="~/HopLong/Content/img/@Session["AVATAR"]" class="user-image" alt="User Image">
                                <span class="hidden-xs">@Session["HO_VA_TEN"]</span>
                            </a>

                        </li>
                        <!-- Control Sidebar Toggle Button -->
                        <li><a href="/Home/Logout"><i class="fa fa-sign-out pull-right"></i> Đăng xuất</a></li>
                    </ul>
                </div>
            </nav>
        </header>
        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar" style="background: #3C8DBC;color: white;">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">

                <!-- search form -->
                <form action="#" method="get" class="sidebar-form">
                    <div class="input-group" style="width: 100%">
                        <input id="searchtextbox" type="text" name="q" class="form-control" placeholder="Search...">
                        <button type="submit" name="search" id="search-btn" class="btn btn-flat" style="display:inline-block;float:left;">
                            <i class="fa fa-search" id="searchtext"></i>
                        </button>
                    </div>
                </form>
                <!-- /.search form -->
                <!-- sidebar menu: : style can be found in sidebar.less -->
                <ul class="sidebar-menu">
                    <li class="header">NGHIỆP VỤ</li>
                    <li class="active treeview">
                        <a href="#">
                            <i class="fa mini-icon fa-dashboard"></i> <span>Quỹ</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="#"><i class="fa fa-circle-o"></i> Thu tiền</a></li>
                            <li><a href="#"><i class="fa fa-circle-o"></i> Thu tiền khách hàng</a></li>
                            <li><a href="#"><i class="fa fa-circle-o"></i> Thu tiền khách hàng hàng loạt</a></li>
                            <li class="divider"></li>
                            <li><a href="#"><i class="fa fa-circle-o"></i> Chi tiền</a></li>
                            <li><a href="#"><i class="fa fa-circle-o"></i> Trả tiền nhà cung cấp</a></li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa mini-icon fa-pie-chart"></i>
                            <span>Ngân hàng</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="#"><i class="fa fa-circle-o"></i> Thu tiền</a></li>
                            <li><a href="#"><i class="fa fa-circle-o"></i> Thu tiền khách hàng</a></li>
                            <li><a href="#"><i class="fa fa-circle-o"></i> Thu tiền khách hàng hàng loạt</a></li>
                            <li class="divider"></li>
                            <li><a href="#"><i class="fa fa-circle-o"></i> Chi tiền</a></li>
                            <li><a href="#"><i class="fa fa-circle-o"></i> Trả tiền nhà cung cấp</a></li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa mini-icon fa-users"></i>
                            <span>Mua hàng</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="#"><i class="fa fa-circle-o"></i> Đơn mua hàng</a></li>
                            <li><a href="#"><i class="fa fa-circle-o"></i> Chứng từ mua hàng</a></li>
                            <li><a href="#"><i class="fa fa-circle-o"></i> Chứng từ mua hàng nhiều HĐ</a></li>
                            <li class="divider"></li>
                            <li><a href="#"><i class="fa fa-circle-o"></i> Chứng từ mua dịch vụ</a></li>
                            <li><a href="#"><i class="fa fa-circle-o"></i> Trả tiền nhà cung cấp</a></li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa mini-icon fa-edit"></i> <span>Bán hàng</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="#"><i class="fa fa-circle-o"></i> Đơn hàng</a></li>
                            <li><a href="#"><i class="fa fa-circle-o"></i> Báo giá</a></li>
                            <li><a href="#"><i class="fa fa-circle-o"></i> Đặt hàng</a></li>
                            <li class="divider"></li>
                            <li><a href="#"><i class="fa fa-circle-o"></i> Chứng từ bán hàng</a></li>
                            <li class="divider"></li>
                            <li><a href="#"><i class="fa fa-circle-o"></i> Thu tiền khách hàng</a></li>
                            <li><a href="#"><i class="fa fa-circle-o"></i> Thu tiền khách hàng loạt</a></li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa mini-icon fa-edit"></i> <span>Kho</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="#"><i class="fa fa-circle-o"></i> Nhập kho</a></li>
                            <li><a href="#"><i class="fa fa-circle-o"></i> Xuất kho</a></li>
                            <li><a href="#"><i class="fa fa-circle-o"></i> Chuyển kho</a></li>
                            <li><a href="#"><i class="fa fa-circle-o"></i> Tính giá xuất kho</a></li>
                        </ul>
                    </li>
                    <li><a href="#"><i class="fa mini-icon fa-circle-o"></i> Chấm công</a></li>

                    <li class="header">Báo cáo</li>
                    <li><a href="#"><i class="fa fa-circle-o text-red"></i> <span>Important</span></a></li>
                    <li><a href="#"><i class="fa fa-circle-o text-yellow"></i> <span>Warning</span></a></li>
                    <li><a href="#"><i class="fa fa-circle-o text-aqua"></i> <span>Information</span></a></li>
                </ul>
            </section>
            <!-- /.sidebar -->
        </aside>
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper" style="background: none !important">
            @RenderBody()
        </div>
        <!-- /.content-wrapper -->
        <footer class="main-footer">
            <div class="pull-right hidden-xs">
                <b>Version</b> 1.0
            </div>
            <strong>Copyright &copy; 2017 <a href="https://hoplongtech.com">hoplongtech.com</a>.</strong> All rights
            reserved.
        </footer>

        <!-- Add the sidebar's background. This div must be placed
             immediately after the control sidebar -->
        <div class="control-sidebar-bg"></div>
    </div>
    <!-- jQuery 2.2.3 -->
    <script src="~/Content/download/plugins/jQuery/jquery-2.2.3.min.js"></script>
    <!-- jQuery UI 1.11.4 -->
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
    <script src="~/Content/download/dist/js/app.min.js"></script>
    <script src="~/Content/download/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Content/download/plugins/fastclick/fastclick.js"></script>

    <script src="~/Content/self-writing/js/nav_hoplong_multilevel.js"></script>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ngMask/3.1.1/ngMask.min.js"></script>
</body>
</html>
