
@{
    ViewBag.Title = "Index";
}
<link href="https://cdn.datatables.net/1.10.13/css/dataTables.bootstrap.min.css" rel="stylesheet" />

<link href="~/Content/download/dist/css/AdminLTE.css" rel="stylesheet" />
<script src="~/Content/download/angularjs/angular.min.js"></script>
<link href="~/Content/download/bootstrap/css/layout_all.css" rel="stylesheet" />
<link href="~/Areas/HopLong/Content/css/GiamDocChiNhanh.css" rel="stylesheet" />
<div class="content" ng-app="myApp" ng-controller="giamdocCtrl">

    <div class="modal fade" id="myChiTiet" role="dialog">
        <div class="modal-dialog modal-sm" style="width: 50%">
            <div class="modal-content" style="border-radius: 15px">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title" id="myModalLabel">Leader Details</h4>
                </div>
                <div class="modal-body" ng-repeat="nhanvien in listgiamdoc">
                    <center>
                        <img ng-src="~/Content/self-writing/Images/{{nhanvien.AVATAR}}" name="aboutme" width="140" height="140" border="0" class="img-circle"></a>
                        <h3 class="media-heading" style="margin-bottom: 30px;">{{nhanvien.HO_VA_TEN}}</h3>
                    </center>
                    <div class="col-md-6 col-md-offset-1" style="text-align: left">
                        <p>Phone Number : {{nhanvien.SDT}}</p>
                        <p>Email: {{nhanvien.EMAIL}}</p>
                        <p>Education : {{nhanvien.TRINH_DO_HOC_VAN}}</p>
                    </div>
                    <div class="col-md-5" style="text-align: left">
                        <p>Gender : {{nhanvien.GIOI_TINH}}</p>
                        <p>Birthday : {{nhanvien.NGAY_SINH | date:'dd/MM/yyyy' }}</p>
                        <p>Native Place : {{nhanvien.QUE_QUAN}}</p>
                    </div>
                    <hr>
                </div>
                <div class="modal-footer" style="margin-top: 80px;">
                    <button type="button" class="btn btn-default" data-dismiss="modal" style="float: left">I've seen enough</button>
                </div>
            </div>
        </div>
    </div>




    <div class="col-md-12">
        <div class="col-md-3 col-md-offset-2">
            <img src="~/Content/self-writing/Images/avatar1.png" data-toggle="modal" data-target="#myChiTiet" ng-click="push('quanghuy')" />
        </div>
        <div class="col-md-3">
            <img src="~/Content/self-writing/Images/avatar1.png" data-toggle="modal" data-target="#myChiTiet" ng-click="push('HOPLONG')" />
        </div>
        <div class="col-md-3">
            <img src="~/Content/self-writing/Images/avatar2.png" data-toggle="modal" data-target="#myChiTiet" ng-click="push('DAILY1')" />
        </div>
    </div>
    <div class="col-md-12">
        <div class="col-md-3 col-md-offset-2">
            <img src="~/Content/self-writing/Images/avatar3.png" data-toggle="modal" data-target="#myChiTiet" ng-click="push('HienLT')" />
        </div>
        <div class="col-md-3">
            <img src="~/Content/self-writing/Images/avatar5.png" data-toggle="modal" data-target="#myChiTiet" ng-click="push('abc1234')" />
        </div>
        <div class="col-md-3">
            <img src="~/Content/self-writing/Images/avatar2.png" data-toggle="modal" data-target="#myChiTiet" ng-click="push('LucDK')" />
        </div>
    </div>
    <div class="col-md-12">
        <div class="col-md-3 col-md-offset-2">
            <img src="~/Content/self-writing/Images/avatar1.png" data-toggle="modal" data-target="#myChiTiet" ng-click="push('TADAN')" />
        </div>
    </div>
</div>

